.post-data > span:not(:last-child) {
    margin-right: 1em;
}

.post-data .categories > a:not(:last-child) {
    margin-right: 0.5em;
}

.post-data .categories > a:not(:last-child):after {
    content: ", ";
    position: absolute;
}

.pagination nav {
    padding: 30px 0;
    text-align: center;
}

.image > div.image-container {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}

    .image > div.image-container > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 0;
        height: 100%;
    }

.wrapper.spotlight .image img {
    border-radius: 0;
    height: 100%;
    width: unset;
}

@media screen and (max-width: 1280px) {
    #wrapper > header {
        background-size: cover;
    }
}